dvc[s3]
decord
einops>=0.4.1
fairscale==0.4.4
opencv-python-headless==4.5.5.64
sentencepiece
timm==0.4.12
torch>=1.10.0
torchvision
tqdm
transformers==4.43.1
torchaudio
soundfile
accelerate
moviepy
nltk
peft
h5py
pycocoevalcap
matplotlib
flash_attn
decord
